body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#grid {
    display: grid;
    grid-template-columns: repeat(5, 60px);
    grid-template-rows: repeat(6, 60px);
    gap: 5px;
    margin-bottom: 20px;
}

.grid-item {
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
    text-transform: uppercase;
    border: 2px solid #000;
    background-color: white; /* Hvit bakgrunn som default */
}

#melding {
    font-size: 20px;
    margin-bottom: 10px;
}

#playAgain {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

.correct {
    background-color: green !important; 
    color: white; 
}

.misplaced {
    background-color: yellow !important; 
    color: black;
}

.wrong {
    background-color: gray !important;
    color: white;
}