#grid {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    grid-template-rows: repeat(6, 100px);
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#grid div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px; 
    text-transform: uppercase;
    border: 1px solid #000;
    background-color: #ccc;
    width: 100px;
    height: 100px;
}
